{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
    <section class="py-5 bg-light">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Diamond - {{ diamond_ornament_type|capfirst }}</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item">
                                <a href="{% url 'store:home' %}">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'store:all-categories' %}">Category</a>
                            </li>
                            <li class="breadcrumb-item active" style="color: black" aria-current="page">
                                {{ diamond_ornament_type|capfirst }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row" id="products-container">
                        {% for product in products %}
                        <div class="col-lg-4 col-sm-6 border product"
                             data-price="{{ product.price }}"
                             data-karatage="{{ product.karatage }}"
                             data-metal="{{ product.gold }}">
                            <div class="product text-center">
                                <div class="mb-3 position-relative">
                                    <a class="d-block" href="{% url 'store:product-detail' product.slug %}">
                                        {% if product.images.exists %}
                                            {% for image in product.images.all %}
                                                {% if forloop.first %}
                                                    <img class="img-fluid w-100" src="{{ image.image.url }}"
                                                         alt="{{ product.title }}">
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <img class="img-fluid w-100" src="{% static 'img/auspiciousoccasions.png' %}" alt="{{ product.title }}">
                                        {% endif %}
                                    </a>
                                    <div class="product-overlay">
                                        <ul class="mb-0 list-inline">
                                            <li class="list-inline-item m-0 p-0">
                                                <form action="{% url 'store:add_to_wishlist' product.id 'diamond' %}" method="GET">
                                                    <input type="hidden" name="prod_slug" value="{{ product.slug }}">
                                                    <input type="hidden" name="prod_type" value="{{ product.get_product_type_display }}">
                                                    <button type="submit" class="btn btn-sm" style="border-color: grey; background-color: white; border-radius: 5px;">
                                                        <i class="fa-solid fa-heart text-danger"></i>
                                                    </button>
                                                </form>
                                                
                                            </li>
                                            <li class="list-inline-item m-0 p-0">
                                                <form action="{% url 'store:add-to-cart' %}">
                                                    <input
                                                        type="hidden"
                                                        name="prod_slug"
                                                        value="{{ product.slug }}"
                                                        id="product_slug"
                                                    />
                                                    <button
                                                        type="submit"
                                                        class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center"
                                                    >
                                                        Add to Cart
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h6><a class="reset-anchor" href="{% url 'store:product-detail' product.slug %}">
                                    {{ product.title }}</a></h6>
                                <p class="small text-muted">
                                    {% if product.fixed_mrp_price %}
                                        ₹{{ product.fixed_mrp_price }}
                                    {% elif product.discount > 0 %}
                                        ₹{{ product.get_discounted_price|floatformat:0 }}
                                    {% else %}
                                        ₹{{ product.total_amount|intcomma }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
