{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
    <!-- HERO SECTION -->
    <section class="py-5">
        <div class="container">
            <div class="row py-lg-4 align-items-center">
                <div class="col-lg-12 text-center">
                    <h1 class="h2 text-uppercase mb-0">Gold {{ gold_ornament_type|capfirst }} Ornaments</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- PRODUCT LISTING -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'store:product-detail' product.slug %}">
                            {% if product.images.exists %}
                                {% for image in product.images.all %}
                                    {% if forloop.first %}
                                        <img class="img-fluid w-100" src="{{ image.image.url }}"
                                                alt="{{ product.title }}">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            <img class="img-fluid w-100" src="{% static 'img/auspiciousoccasions.png' %}" alt="{{ product.title }}">
                            {% endif %}
                        </a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0">
                                    <form action="{% url 'store:add_to_wishlist' product.id 'gold' %}" method="GET">
                                        <input type="hidden" name="prod_slug" value="{{ product.slug }}">
                                        <input type="hidden" name="prod_type" value="{{ product.get_product_type_display }}">
                                        <button type="submit" class="btn btn-sm" style="border-color: grey; background-color: white; border-radius: 5px;">
                                            <i class="fa-solid fa-heart text-danger"></i>
                                        </button>
                                    </form>                            
                                </li>
                                <li class="list-inline-item m-0 p-0">
                                    <form action="{% url 'store:add-to-cart' %}">
                                        <input
                                            type="hidden"
                                            name="prod_slug"
                                            value="{{ product.slug }}"
                                            id="product_slug"
                                        />
                                        <button
                                            type="submit"
                                            class="btn btn-dark btn-lg btn-block h-100 d-flex align-items-center justify-content-center px-0"
                                        >
                                            Add to Cart
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'store:product-detail' product.slug %}">{{ product.title }}</a>
                            </h4>
                            <p class="small text-muted">
                                {% comment %} {% if product.discount > 0 %}
                                    ₹{{ product.get_discounted_price|floatformat:0 }}
                                {% else %}
                                    ₹{{ product.total_amount|intcomma }}
                                {% endif %} {% endcomment %}
                                {% if product.fixed_mrp_price %}
                                    ₹{{ product.fixed_mrp_price }}
                                {% elif product.discount > 0 %}
                                    ₹{{ discounted_price|floatformat:0 }}
                                {% else %}
                                    ₹{{ product.total_amount|floatformat:0 }}
                                {% endif %}
                            </p>
                            <p class="card-text">{{ product.details }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
